.page {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.profile {
    width: 98%;
    border-radius: 1vw;
    background-color: #1c1f24;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 95%;
}

.firmaName {
    font-size: 4vw;
    font-weight: bold;
}

.a {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2vw 0; 
}

.addresse, .lernende {
    background-color: rgb(58, 63, 58);
    border-radius: 1vw;
    padding: 1vw 1vw;
}

.addresse {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.addresseTitle, .lernendeTitle {
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 1vw;
}

.strasse {
    margin-bottom: 0.5vw;
}

.strasse, .plzOrt {
    font-size: 1.5vw;
}

.lernende {
    margin-left: 1vw;
    width: 70%;
}

.descRow {
    background-color: #454545;
    border-radius: 12px;
    border-color: #242424;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1vw;
    height: auto;
    width: 95%;
}

.descA, .descB, .descC, .descD, .descE {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.descA{
    width: 90%;
    padding: 1vw 1vw;
}

.descB{
    width: 76%;
}

.descC{
    width: 55%;
}

.descD{
    width: 70%;
}

.descE {
    width: 60%;
}