.a, .b, .c, .d {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a{
    width: 98%;
}

.b{
    width: 80%;
}

.c{
    width: 50%;
}

.d {
    width: 60%;
}

.e {
    width: 40%;
}