.a, .b, .c, .d {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a{
    width: 100%;
}

.b{
    width: 80%;
}

.c{
    width: 60%;
}

.d {
    width: 100%;
}

.e {
    width: 40%;
}

.note {
    width: 3vw;
    font-size: 0.9vw;
    border-radius: 1vw;
    padding-left: 0.5vw;
    appearance: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.2vw;
}