.a, .b, .c, .d {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a{
    width: 100%;
}

.b{
    width: 79.5%;
}

.c{
    width: 61%;
}

.d {
    width: 69%;
}

.e {
    width: 30%;
}

.editForm {
    display: flex;
    flex-direction: row;
}

.startInput {
    margin-left: 17vw;
}

.endeInput {
    margin-left: 3vw;
}

.dateInput, .berufInput {
    width: 8vw;
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
}